body:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    z-index:-1;
}

.temperature{
  font-size: 4em;
}

#outer {
  width: 100%;
  text-align: center;
}

#inner {
  display: inline-block;
}

.container  {
  padding-top: 10%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: 300px !important;
}

.container .row {
  margin: 0 auto;
}